.login-form-main{
    display: flex;
    align-items: center;
    height: calc(100vh - 84px);
    background-color: #fafafa;
}
.login-form-main .login-form{
    max-width: 420px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px #ccc;
    padding: 30px;
}
.login-form-main .login-form h2 a{
    width: 148px;
    margin: 0px auto 10px;
}
.login-form-main .login-form .subheading{
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: #9b9b9b;
    margin-bottom: 30px;
}
.login-form-main .login-form .saprator-box span{
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 30px;
    text-align: center;
}

.banner_section{
    position: relative;
}
.banner_image{
    height: 70vh;
    width: 100%;
    object-fit: cover;
}
.banner_content{
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    width: 100%;
}
.banner_title{
    font-size: 3rem;
    font-weight: bold;
}
.banner_sub_title{
    font-size: 1.125rem;
    margin-top: calc(2rem * calc(1 - 0));
}
.search_form{
    display: flex;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 5%) 0px 21px 36px;
    border-radius: 5px;
    overflow: hidden;
    max-width: 720px;
    margin: 0 auto;
}
.search_form input{
    border: 0px;
    border-radius: 0px;
    padding: 15px;
}
.search_form button{
    display: flex;
    align-items: center;
    border-radius: 0px;
}
.os-content ul{
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.os-content ul li button{
    display: flex;
    background-color: transparent;
    border: 0px;
    padding: 0px
}
.os-content ul li button span svg{
    width: 20px;
}
.category_listing li .arrow{
    margin-inline-start: auto;
}
.category_listing li .arrow img{
    transform: rotate(-90deg);
    width: 20px;
    height: 20px;
}
.category_listing li .submenuList{
    margin-left: 38px;
}
.btn-plus{
    width: 36px;
    height: 36px;
    line-height: 22px;
    padding: 5px;
}